<!DOCTYPE html>
<html>
<head>
   @*fonte Lato*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Ecosologic - Economizando energia elétrica </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/angular/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/AngularJS")

    <meta charset="utf-8" />
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    @*<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />*@
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        .parallax-container {
            height: 400px;
        }
    </style>
    <script src="~/Scripts/Angular/AppGlobal.js"></script>
    <script src="~/Scripts/Angular/FactoryModal.js"></script>
</head>

<body ng-app="appGlobal" >
   
    <!--Menu-->
    <div class="navbar-fixed">
        <nav class="green darken-4">

            <a href="@Url.Action("Index", "Home")" style="margin-left:10px; margin-top:5px" class="brand-logo"><img height="65" src="~/images/logo-branca.png"> </a>
            <ul class="right hide-on-med-and-down">
                <li>@Html.ActionLink("Quem somos", "QuemSomos", "Home")</li>
                <li>@Html.ActionLink("Dúvidas Frequentes", "Faq", "Home")</li>
                <li>@Html.ActionLink("Faça um orçamento", "Orcamento", "Home")</li>
            </ul>
            <ul id="slide-out" class="side-nav">
                <li><a href="#!">Quem Somos</a></li>
                <li>@Html.ActionLink("Quem somos", "QuemSomos", "Home")</li>
                <li>@Html.ActionLink("Dúvidas Frequentes", "Faq", "Home")</li>
                <li>@Html.ActionLink("Faça um orçamento", "Orcamento", "Home")</li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </nav>
    </div>
    <main>
        @RenderBody()
    </main>
    <!--Rodapé-->
    <footer class="page-footer  grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contatos</h5>
                    <p class="grey-text text-lighten-3">Entre em contato através dos nosso email ou Telefone</p>
                    <ul>
                        <li><span class="grey-text text-lighten-3">comercial@ecosologic.com.br </span></li>
                        <li><span class="grey-text text-lighten-3">(21) 99542-4027</span></li>

                    </ul>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links úteis</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://www.americadosol.org/">América do sol</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://www.absolar.org.br/">Absolar</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://energiasrenovaveis.com/Area.asp?ID_area=8">Energias Renováveis</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://www.greenpeace.org/brasil/pt/">Greenpeace</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright EcoSologic
                <a class="grey-text text-lighten-4 right" href="@Url.Action("Index", "Home")">Página Inicial</a>
            </div>
        </div>
    </footer>
  
    <script type="text/javascript">
        // Initialize collapse button
        $(".button-collapse").sideNav();
        // Initialize collapsible (uncomment the line below if you use the dropdown variation)
        //$('.collapsible').collapsible();
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.parallax').parallax();
        });

        // Start slider
        $(document).ready(function () {
            $('.slider').slider({ full_width: true });
        });

    </script>


    @RenderSection("scripts", required: false)
</body>
</html>
